<template tag-name="app-admin-panel">
    <div lyte-if="{{isNotFound}}" class="not-found">
        <div class="not-content">
            No Companies Currently available
        </div>

    </div>
    <div lyte-else="{{isNotFound}}">
        <h3 class="details">COMPANY DETAILS</h3>
        <!-- <company-card companies="{{companyList}}">
        </company-card> -->
        <card-comp>
            <template is="yield" yield-name="content">
                <table class="company-table">
                    <thead>
                        <tr>
                            <th>COMPANY NAME</th>
                            <th>STARTED YEAR</th>
                            <th>ADMIN NAME</th>
                            <th>ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody lyte-for="{{companies}} as company index">
            
                        <tr>
                            <td>{{company.companyName}}</td>
                            <td>{{company.startedYear}}</td>
                            <td>{{company.user.userName}}</td>
            
            
                            <td class="admin-actions">
            
            
                                    <lyte-button class="company-update-btn" onclick="{{action('updateCompany',company.id,company.companyName,company.startedYear)}}">
                                        EDIT
                                    </lyte-button>
            
                                    <lyte-button lyte-if="{{company.isActive}}" class="company-deactivate-btn" onclick="{{action('deactivateCompany',company.id)}}">
                                        DEACTIVATE
                                    </lyte-button>
            
                                    <lyte-button lyte-else="{{company.isActive}}" class="company-activate-btn" onclick="{{action('activateCompany',company.id)}}">
                                        ACTIVATE
                                    </lyte-button>
            
                                    <lyte-button  class="company-delete-btn" onclick="{{action('deleteCompany',company.id)}}">
                                        DELETE
                                    </lyte-button>
                            </td>
            
                        </tr>
                    </tbody>
                </table>
            </template>
        </card-comp>
    </div>
</template>