<template tag-name="delete-popup">
	<div class="delete-popup">
		<div class="popup-content">

			<lyte-button class="cancel-delete-btn" onclick="{{action('cancel')}}">
			<span class="material-symbols-outlined">close</span> </lyte-button>
			<p class="delete-message">Are you sure you want to {{operation}}
				this?</p>

			<div class="popup-actions">
				<lyte-button class="confirm-delete-btn"
					onclick="{{action('execute')}}">{{operation}}</lyte-button>
			</div>
		</div>
	</div>

</template>