<template tag-name="user-cars">
    <div lyte-if="{{isNotFound}}" class="not-found">
        <div class="not-content">
            No Owned Cars yet
        </div>

    </div>
    <div lyte-else="{{isNotFound}}">
        <h3 class="details">CARS DETAILS</h3>
        
        <card-comp>
            <template is="yield" yield-name="content">
                <table class="company-table">
                    <thead>
                        <tr>
                            <th>COMPANY NAME</th>
                            <th>SHOWROOM NAME</th>
                            <th>MODEL NAME </th>
                            <th>MODEL COLOR</th>
                            <th>MODEL PRICE</th>
                            <th>DELIVERED DATE</th>
                        </tr>
                    </thead>
                    <tbody lyte-for="{{cars}} as car index">

                        <tr>
                            <td>{{car.showroom.company.companyName}}</td>
                            <td>{{car.showroom.name}}</td>
                            <td>{{car.modelName}}</td>
                            <td>{{car.color}}</td>
                            <td>{{car.price}}</td>
                            <td>{{car.completedAt}}</td>
                        </tr>
                    </tbody>
                </table>
            </template>
        </card-comp>
    </div>


</template>