/* .details {
    position: relative;
    top: 100px;
    left: 250px;
    font-size: 32px;
    font-weight: bold;
    color: #1d2939;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: -1;
    width: 30%;
} */
.scrollable-table {
	margin-left: 250px;
	margin-top: 130px;
	height: 600px;
	width: 80%;
	overflow-y: auto;
	border: 1px solid #ccc;
	scroll-snap-type: y mandatory ;
}

.company-table {
	
	width: 100%;
	border-collapse: collapse;
	font-size: 16px;
	text-align: center;
	border-radius: 2px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}

.company-table th,
.company-table td {
	border: 1px solid #ddd;
	color: #1d2939;
	padding: 12px;
	height: 75px;
	text-align: center;
	transition: background-color 0.3s ease-in-out;
}

.company-table thead th {
	position: sticky;
	top: 0;
}

.company-table th {
	background-color: #f4f4f4;
	color: #1d2939;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.company-table tr:nth-child(even) {
	background-color: #f9f9f9;

}
.company-table tr{
	scroll-snap-align: start;
}
.company-table tr:hover {
	background-color: #eaeaea;
	cursor: pointer;
	
}

button,
lyte-button {
	padding: 10px 16px;
	font-size: 14px;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	border: 1px solid transparent;
	font-weight: bold;
}

.company-update-btn {
	background-color: #ffffff;
	color: #4CAF50;
	border: 1px solid #4CAF50;
	margin-left: 50px;
}

.company-update-btn:hover {
	background-color: #4CAF50;
	color: #ffffff;
}

.company-deactivate-btn {
	background-color: #ffffff;
	color: #f39c12;
	border: 1px solid #f39c12;
}

.company-deactivate-btn:hover {
	background-color: #f39c12;
	color: white;
}

.company-activate-btn {
	background-color: white;
	color: #3498db;
	border: 1px solid #3498db;
}

.view-showroom-btn {
	border: solid 1px #1d2939;
	color: #1d2939;
}

.view-showroom-btn:hover {
	background-color: #1d2939;
	color: white;
}

.company-activate-btn:hover {
	background-color: #3498db;
	color: white;
}

.company-delete-btn {
	background-color: #ffffff;
	color: #e74c3c;
	border: 1px solid #e74c3c;
}

.company-delete-btn:hover {
	background-color: #e74c3c;
	color: white;
}

.admin-actions {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px 0;
}

.not-found {
	background-color: #EEEEEE;
	width: 27%;
	height: 250px;
	margin-left: 600px;
	margin-top: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-weight: bold;
	font-size: 20px;
	border-radius: 12px;
	border: solid 1px #ddd;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.top-section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	top: 100px;
	margin-left: 250px;
	font-size: 32px;
	font-weight: bold;
	color: #1d2939;
	text-transform: uppercase;
	letter-spacing: 1px;
	width: 80%;
}

.top-section h3 {
	margin-right: 10px;
}

.back-btn,
.sync-btn {
	background-color: transparent;
	color: #1d2939;
	border: 1px solid #1d2939;
	border-radius: 50px;
	padding: 5px 16px;
	font-size: 15px;
	font-weight: 500;
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
	margin-right: 50px;
}

.back-btn:hover,
.sync-btn:hover {
	background: #1d2939;
	color: white;
}

.page-text {
	margin-right: 10px;
}

.back-text {
	display: inline-block;
}