
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: gainsboro;
}
.box {
    display: flex;
    flex-direction: row;
    width: 75%;
    height: 80vh;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background: gainsboro;
    box-shadow:
		  2.8px 2.8px 8px rgba(0, 0, 0, 0.02),
		  6.7px 6.7px 19.2px rgba(0, 0, 0, 0.028),
		  12.5px 12.5px 36.2px rgba(0, 0, 0, 0.035),
		  22.3px 22.3px 64.6px rgba(0, 0, 0, 0.042),
		  41.8px 41.8px 120.7px rgba(0, 0, 0, 0.05),
		  100px 100px 289px rgba(0, 0, 0, 0.07); 
}
.left-section {
    flex: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    background:white;
}
.left-section img {
    width: 100%;
    height: 100%;
    box-shadow:
		  2.8px 2.8px 8px rgba(0, 0, 0, 0.02),
		  6.7px 6.7px 19.2px rgba(0, 0, 0, 0.028),
		  12.5px 12.5px 36.2px rgba(0, 0, 0, 0.035),
		  22.3px 22.3px 64.6px rgba(0, 0, 0, 0.042),
		  41.8px 41.8px 120.7px rgba(0, 0, 0, 0.05),
		  100px 100px 289px rgba(0, 0, 0, 0.07); 

}
.right-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 40px;
    background: #141e30;
}

.in-box{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
}
.authentication-form {
    width: 80%;
    height: 100%;
    text-align: center;
    
}
.authentication-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 15px;
}
.login-form{
  margin-top: 40%;
}
.login-form h2{
    margin-bottom: 40px;
    color: #ff7eb3;
    font-weight: 300;
}
.register-form{
  height: 100%;
}
.input-group {
    width: 100%;
    
}
.register-input-field{
  width: 70%;
  padding: 8px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 12px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  outline: none;
  transition:  width 0.2s ease,heigth 0.2s ease;
  z-index: 1000;
}
.register-input-field input,.input-field input{
 background: transparent ;
 padding: 0%;
 color: #f3f3f3;
 box-sizing: content-box;
 
}
lyte-button button{
    padding: 0%;
}
.input-field {
    width: 70%;
    padding: 12px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    margin-bottom: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: white; 
    outline: none;
    transition:  width 0.2s ease,heigth 0.2s ease;
    z-index: 1000;
}
.input-field{
    margin-bottom: 15px;
}
.input-field:hover {
    background: rgba(255, 255, 255, 0.3);
    width: 75%;
    height: 100%;
    transform: scale(1.02);
}
.input-field::placeholder,.register-input-field::placeholder {
    color: rgba(255, 255, 255, 0.7);

}
.btn {
    width: 70%;
    margin-top: 15px;
    padding: 12px;
    background: #ff7eb3;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: width 0.2s ease,height 0.2s ease;
}
.btn:hover {
    background: #ff4d8c;
    width:75%;
    transform: scale(1.02);
}
.link-text {
    margin-top: 25px;
    font-size: 14px;
    margin-bottom: 20px;

}
.forgot{
    margin-left: 210px;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: underline;
    color: #ff4d8c;
    
}
.forgot:hover{
    color: white;
    text-decoration: none;
}
.link-text a {
    color: #ff7eb3;
    text-decoration: none;
}
.link-text a:hover {
    color: #ff4d8c;
}
 
.error {
    margin-top: -8px; 
    margin-left: 80px;
    padding: 0;
    text-align: left;
    color: red;
    font-size: 14px;
}

  .container {
    width: 100%;
  }

  
  
  
  .user-list-container {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  .delete-btn {
    background: #e63946;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  
  .contact-info {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: navy;
    color: white;
    padding: 15px;
    border-radius: 10px;
  }
  .admin-panel {
    font-family: Arial, sans-serif;
  }
  
 
  
  .logo {
    font-size: 30px;
    font-weight: bold;
  }
  
  .logo i {
    margin-right: 8px;
    color: blue;
  }
  
  .actions button {
    margin-left: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-create {
    background: blue;
    color: white;
  }
  
  .btn-profile {
    background: #f3f3f3;
    color: black;
  }
  
  .register-input-field._popup{
    width: 100%;
    background-color: #141e30;
  }
  .buttons {
    display: flex;
    flex-direction: row;
  }
  
  .btn {
    padding: 10px 10px;
    margin: 5px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  


  