
.navbar {
    position: fixed;
    top:0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4; /* Dark blue-gray */
    color: #1d2939;
    padding: 10px 20px;
    font-size: 18px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
   
  }
  .btn-profile {
    background: whitesmoke;
    border: none;
    color: #1d2939;
    width: 50px;  
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px; 
    font-weight: bold;
    cursor: pointer;
    border: solid 1px black !important;
}


.logout-btn {
    background: white;
    color: black;
    margin-right: 30px;
    cursor: pointer;
    border: solid 1px black !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    
  } 
  .logout-btn:hover{
    background: black;
    color: white;
  }
  
  .btn-profile:hover {
    background-color: #2980b9;
  }